{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="description" content="Калькулятор систем линейных алгебраических уравнений">
        <title>Калькулятор систем линейных алгебраических уравнений</title>
<!--    <style>
            @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Math&display=swap');
        </style>  -->
        <link href="{% static 'linear_eq_solver/css/general.css'%}" type="text/css" rel="stylesheet">
        <link href="{% static 'linear_eq_solver/css/MathStyle.css'%}" type="text/css" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
        <script type="text/javascript" src="{% static 'linear_eq_solver/js/modules/TreeNode.js'%}"></script>
        <script type="text/javascript" src="{% static 'linear_eq_solver/js/modules/MathElements.js'%}"></script>
        <script type="text/javascript" src="{% static 'linear_eq_solver/js/input.js'%}"></script>
    </head>
    <body>
        <section class="to-be-static">
            <div class="chat-container">
                <div id="query-history">
                    <div class="chat-box">
                        <div class="chat-wrapper" id="msg-holder">
                            <!-- message holder-->
                        </div>
                    </div>
                </div>
                <div id="drawer">
                    <div class="editor">
                        <button id="send-button">Решить</button>
                        <div class="input-container" id="input-container">
                            <div class="main-input" id="main-input">
                                <div id="formulas">
                                    <span class="textarea">
                                        <textarea readonly="readonly"></textarea>
                                    </span>
                                    <span class="unselectable" id="invite">Введите Значение</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="keyboard">
                        <div class="wrapper">
                            <span class="custom">
                                <div class="custom-options-and-button">
                                    <span class="input-data">
                                        <input id="x" type="number" name="input" placeholder="X (max 10)" required maxlength="2" min="1" max="10" tabindex="-1"/>
                                    </span>
                                    <span class="input-data">
                                        <input id="y" type="number" name="input" placeholder="Y (max 10)" required maxlength="2" min="1" max="10" tabindex="-1"/>
                                    </span>
                                    <button id="create-matrix" class="create-button" tabindex="-1">Создать матрицу</button>
                                    <button id="create-system" class="create-button" tabindex="-1">Создать систему</button>
                                </div>
                            </span>
                            <span id="keys">
                                <span class="numeric">
                                    <div id="td" data-append="\pow">
                                        <span class="unselectable">
                                            <span>x</span>
                                            <span class="sup">☐</span>
                                        </span>
                                    </div>
                                    <div id="td" data-append="\frac">
                                        <span class="unselectable">
                                            <span class="fraction">
                                                <span class="numerator">
                                                    ☐
                                                </span>
                                                <span class="denominator">
                                                    ☐
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                    <div id="td" data-append="+">
                                        <span class="unselectable">
                                            +
                                        </span>
                                    </div>
                                    <div id="td" data-append="7">
                                        <span class="unselectable">
                                            7
                                        </span>
                                    </div>
                                    <div id="td" data-append="8">
                                        <span class="unselectable">
                                            8
                                        </span>
                                    </div>
                                    <div id="td" data-append="9">
                                        <span class="unselectable">
                                            9
                                        </span>
                                    </div>
                                    <div id="td" data-append="\sqrt">
                                        <span class="unselectable">
                                            <span class="square-root">√</span>
                                            <span class="sqrt-head">
                                                <span>☐</span>
                                            </span>
                                        </span>
                                    </div>
                                    <div id="td" data-append="\nthsqrt">
                                        <span class="unselectable">
                                            <span class="sup root">☐</span>
                                            <span class="square-root">√</span>
                                            <span class="sqrt-head">
                                                <span>☐</span>
                                            </span>
                                        </span>
                                    </div>
                                    <div id="td" data-append="-">
                                        <span class="unselectable">
                                            −
                                        </span>
                                    </div>
                                    <div id="td" data-append="4">
                                        <span class="unselectable">
                                            4
                                        </span>
                                    </div>
                                    <div id="td" data-append="5">
                                        <span class="unselectable">
                                            5
                                        </span>
                                    </div>
                                    <div id="td" data-append="6">
                                        <span class="unselectable">
                                            6
                                        </span>
                                    </div>
                                    <div id="td" data-append="\parentheses">
                                        <span class="unselectable">
                                            <span class="paren unselectable">(</span>
                                            <span class="block" data-empty="true" data-displace-cursor="in">☐</span>
                                            <span class="paren unselectable">)</span>
                                        </span>
                                    </div>
                                    <div id="td" data-append="\abs">
                                        <span class="unselectable">
                                            <span class="paren unselectable">|</span>
                                            <span class="block" data-empty="true" data-displace-cursor="in">☐</span>
                                            <span class="paren unselectable">|</span>
                                        </span>
                                    </div>
                                    <div id="td" data-append="*">
                                        <span class="unselectable">
                                            ×
                                        </span>
                                    </div>
                                    <div id="td" data-append="1">
                                        <span class="unselectable">
                                            1
                                        </span>
                                    </div>
                                    <div id="td" data-append="2">
                                        <span class="unselectable">
                                            2
                                        </span>
                                    </div>
                                    <div id="td" data-append="3">
                                        <span class="unselectable">
                                            3
                                        </span>
                                    </div>
                                </span>
                                <div style="display: flex; flex-direction: column;">
                                    <div id="td" data-append="Backspace"><span class="unselectable"><b>⌫</b></span></div>
                                    <div id="td" style="height: 80px;" data-append="0">
                                        <span class="unselectable">
                                            0
                                        </span>
                                    </div>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
{% if show_info %}
    <div id="info-block">
        <div id="close-button"></div>
        <p>
            Добро пожаловать на наш сайт для решения систем линейных уравнений! Здесь вы найдете удобную клавиатуру для создания шаблона системы или матричного уравнения. Вы можете выбрать различные математические конструкции, такие как корень, степень, модуль, и другие.

            <br> <b>Прошу принять во внимание то, что необходимо воздержаться от использования математических сокращений!</b>
            Если нужно умножить, добавьте оператор умножения, если нужен отрицательный x в уравнение — напишите -1
            
            <br>Для создания математических конструкций, вы можете использовать следующие команды: \frac, \pow, \sqrt, \nthsqrt, \parentheses, \abs. Эти команды помогут вам создать необходимые математические выражения для ваших уравнений.

            <br>Однако, пожалуйста, обратите внимание, что наш сайт может решать только системы линейных уравнений. Мы надеемся, что вы найдете наш сайт полезным и удобным в использовании!

        </p>
    </div>
    <script>
        const info_block = document.getElementById('info-block')

        window.addEventListener('load', function () {
  info_block.style.left = '50%';
})
        document.getElementById('close-button').addEventListener('click', () => {info_block.remove()})
    </script>
{% endif %}
        </section>
    </body>
</html>