html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border: none;
}

input:invalid {
    background-color: lightpink;
}

textarea {
    position: absolute;
    resize: none;
    transform: scale(0);
}

.unselectable {
    pointer-events: none;
    user-select: none;
}

.to-be-static {
    width: 100%;
    height: 100vh;
    background-color: #db3f59;
}

.chat-container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    width: 100%;
    height: 100%;
    margin: auto;
    background: #fff;
}

#query-history {
    background: #efefef;
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 1;
    overflow: auto;
}

.drawer {
    background-color: #efefef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.editor {
    display: flex;
    width: 95%;
    border-radius: 0 0 20px 10px;
    background-color: #fff;
}

.input-container {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    background-color: #b03146;
    border-radius: 0px 20px 20px 0px;
    padding: 5px 5px 5px 5px;
}

.main-input {
    background-color: #fff;
    flex-grow: 1;
    padding: 17px 32px 10px 20px;
    border-radius: 0px 15px 15px 0px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.textarea {
    position: absolute;
    display: inline-block;
    transform: scale(0);
}

#send-button {
    font-family: Rubik, sans-serif;
    font-weight: 600;
    border: 5px solid;
    border-right: 0px;
    border-color: #b03146;
    border-radius: 10px 0 0 10px;
    background-color: #db3f59;
    color: #fff;
    cursor: pointer;
    min-width: 64px;
    min-height: 64px;
    user-select: none;
}

#send-button:hover {
    background-color: #ef7c8f;
}

.hasCursor {
    border: #6e95ff;
    box-shadow: 0 0 4px 2px #4447ff;
}

#invite {
    font-size: 20px;
    color:#909090;
}

.cursor {
    border-left: 1px solid #000;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    position: relative;
    z-index: 1;
    display: inline-block;
    max-height: 25px;
    user-select: none;
    pointer-events: none;
}

.blink {
    opacity: 0;
}

.keyboard.unactive {
    bottom: -100px;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    max-width: 1368px;
    min-height: 100px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    bottom: 80px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    transition: bottom 0.5s cubic-bezier(0, 0.38, 0, 0.98);
    border-radius: 20px;
    border: 5px solid #b03146;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
}

.sqrt-head {
    display: inline-flex;
    margin-top: 3px;
    border-top: 1px solid;
    padding-right: .2em;
    align-items: flex-end;
    vertical-align: bottom;
}

#td {
    width: 5%;
    height: 60px;
    min-width: 30px;
    background-color: #efefef;
    border: 2px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

#td:hover {
    background-color: #fff;
}

.custom-options-and-button {
    display: flex;
    flex-direction: row;
    height: 50%;
    gap: 10px;
    align-items: center;
}

.input-data {
    height: 80%;
    width: 100px;
    background-color: #fff;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

.custom {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 70px;
}

@media screen and (max-width: 921px) {
    #td {
        height: 45px;
        margin-top: 10px;
    }
    .create-custom {
        min-width: 100%;
    }
    .custom {
        max-width: 240px;
    }
    .input-data {
        width: 80px;
    }
    #keyboard-selection {
        font-size: 12px;
    }
    .keyboard.unactive {
        bottom: -200px;
    }
}

.input-area {
    background-color: #ccc;
}

.chat-box {
    background-color: #fff;
    width: 95%;
    overflow: auto;
}

.chat-wrapper {
    display: flex;
    margin: 10px 10px 10px 10px;
    border-bottom: 0;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.user-msg {
    align-self: flex-end;
    margin: 5px;
    box-sizing: border-box;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 0 5px 0 5px;
}

.create-button {
    background-color: #db3f59;
    border: 2px solid #b03146;
    text-align: center;
    width: 70px;
    height: 80%;
    color: #fff;
    cursor: pointer;
}

.create-button:hover {
    background-color: #ef7c8f;
}

.create-custom {
    display: inline-flex;
    flex: 1;
    max-width: 600px;
    justify-content: space-around;
}

.method-select {
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 50%;
    align-self: center;
    overflow: auto;
    background-color: #fafafa;
    border: 1px solid #ccc;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.method-select.visible {
    opacity: 1;
}

.option {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 35px;
    background-color: #fff;
    text-align: right;
    border-bottom: 1px dashed #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

.option > * {
    vertical-align: -webkit-baseline-middle;
    padding: 0 5px 0 0;
    font-size: 18px;
    user-select: none;
    pointer-events: none;
}

#fader {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    z-index: 1;
    opacity: 50%;
}