sup {
    display: inline-block;
    vertical-align: 0.5em;
    position: relative;
    top: -0.1em;
    font-size: 80%;
}

.sqrt-head {
    display: inline-flex;
    margin-top: 3px;
    border-top: 1px solid;
    padding-right: .2em;
    align-items: flex-end;
    vertical-align: bottom;
}

.sup {
    position: relative;
    bottom: 0.75em; 
    font-size: 13.5px;
}

.sup.root {
    display: inline-block;
    font-size: 60%;
    left: 0.4em;
    line-height: 1;
    vertical-align: top;
}

.fraction {
    display: inline-block;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    padding-left: 2px;
    font-size: 0.8em;
}

.denominator {
    position: relative;
    text-align: center;
    display: block;
    border-top: 1px solid #000;
    width: 100%;
}

.numerator {
    position: relative;
    text-align: center;
    display: block;
}

.empty:after {
    visibility: hidden;
    content: '0';
}

.empty {
    background-color: #efefef;
}

.command {
    border: 1px solid gray;
    padding-right: 1px;
    margin-right: 1px;
    margin-left: 2px;
}

.square-root {
    display: inline-block;
    position: relative;
    transform: scale(1, 1.3);
    left: 1px;
    align-items: flex-end;
    transform-origin: bottom;
    vertical-align: bottom;
    line-height: 0.7em;
    overflow: hidden;
}

.block {
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    padding: 0 3px 0 3px;
    text-align: center;
}

.matrix-content, .system-content{
    display: inline-table;
    position: relative;
    border-spacing: 1em .2em;
    margin: 0 -.8em;
    vertical-align: middle;
}

.matrix-cell {
    display: flex;
    /* text-align: center; */
    align-items: baseline;
}

.matrix-row {
    vertical-align: middle;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 2px;
}

.paren {
    display: inline-block;
}

.sqrt-head {
    display: inline-flex;
    margin-top: 3px;
    border-top: 1px solid;
    padding-right: .2em;
    align-items: flex-end;
    vertical-align: bottom;
}

.selection {
    display: inline-block;
    background: Highlight;
    color: HighlightText;
    border-color: HighlightText;
}

sup .denominator {
    font-size: 80%;
    top: -0.5em;
}

sup .numerator {
    font-size: 80%;
    top: -0.5em;
}
